.stars{
  width: 100%;
}
.star{
  width: 1rem;
  height: 1rem;
  display: inline-block;
  padding: 0 5px;
  font-size: 18px;
  line-height: 18px;
}
.unselected{
  color: rgb(240,240,240);
}
.selected{
  color: rgb(255,201,0);
}

