html, body{
  height: 100%;
}

body{
  background-color: #fff;
}

@font-face {
  font-family: 'icon-font';
  src: url('../font/icon-font.eot');
  src: url('../font/icon-font.woff') format('woff'), url('../font/icon-font.ttf') format('truetype'), url('../font/icon-font.svg#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.icon-star-solid:before { content: '\e814'; }
.icon-star:before { content: '\e815'; }

.page{
  height: 100%;
}