@import "base.scss";
.list{
  background-color: #fff;
  padding: pxTorem(64px);
}
.item{
  width: 100%;
  min-height: pxTorem(120px);
  line-height: pxTorem(120px);
  color: rgb(73,73,73);
  h2{
    font-size: 16px;
    font-weight: normal;
    padding:0;
    margin: 0;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.label{
  font-size: 12px;
  color:#ababab;
}
span{
  font-size: 14px;
  img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    vertical-align: middle;
    padding-right: 5px;
  }
}